---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Menu">
  <section id="gtco-menu" class="section-padding">
    <div class="container">
      <div class="section-content">
        <div class="row mb-5">
          <div class="col-md-12">
            <div class="heading-section text-center">
              <span class="subheading">Menú</span>
              <h2>Nuestro Menú</h2>
            </div>
          </div>
        </div>

        <h3 class="text-center mb-5">Desayunos</h3>

        <div class="row">
          <div class="col-lg-4 menu-wrap">
            <div class="heading-menu"></div>
            <div class="menus d-flex align-items-center">
              <div class="menu-img rounded-circle">
                <img class="img-fluid" src="/img/crepe-avena.png" alt="" />
              </div>
              <div class="text-wrap">
                <div class="row align-items-start">
                  <div class="col-8">
                    <h4>Crepa de Avena y Frutas</h4>
                  </div>
                  <div class="col-4">
                    <h4 class="text-muted menu-price">S/ 8.00</h4>
                  </div>
                </div>
                <p>Incluye un smoothie de mango.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 menu-wrap">
            <div class="heading-menu"></div>
            <div class="menus d-flex align-items-center">
              <div class="menu-img rounded-circle">
                <img class="img-fluid" src="/img/smoothie-frutas.jpg" alt="" />
              </div>
              <div class="text-wrap">
                <div class="row align-items-start">
                  <div class="col-8">
                    <h4>Smoothie de Frutas</h4>
                  </div>
                  <div class="col-4">
                    <h4 class="text-muted menu-price">S/ 10.00</h4>
                  </div>
                </div>
                <p>Decorado con granola y semillas.</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 menu-wrap">
            <div class="heading-menu"></div>
            <div class="menus d-flex align-items-center">
              <div class="menu-img rounded-circle">
                <img
                  class="img-fluid"
                  src="/img/tostada-palta-huevo.jpg"
                  alt=""
                />
              </div>
              <div class="text-wrap">
                <div class="row align-items-start">
                  <div class="col-8">
                    <h4>Tostadas con Palta y Huevo</h4>
                  </div>
                  <div class="col-4">
                    <h4 class="text-muted menu-price">S/ 9.00</h4>
                  </div>
                </div>
                <p>Incluye pan integral y sal</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</Layout>
