---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Platos especiales">
  <section id="gtco-special-dishes" class="bg-grey section-padding">
    <div class="container">
      <div class="section-content">
        <div class="heading-section text-center">
          <span class="subheading"> Especialidades </span>
          <h2>Platos Destacados</h2>
        </div>
        <div class="row mt-5">
          <div class="col-lg-5 col-md-6 align-self-center py-5">
            <h2 class="special-number">01.</h2>
            <div class="dishes-text">
              <h3><span>Crepa</span><br /> Dulce Saludable</h3>
              <p class="pt-3">
                Elaboradas con frutas frescas, harinas integrales y endulzantes
                naturales.
              </p>
              <h3 class="special-dishes-price">S/ 10.00</h3>
              <a href="/reservation" class="btn-primary mt-3"
                >Reservar una mesa</a
              >
            </div>
          </div>
          <div
            class="col-lg-5 offset-lg-2 col-md-6 align-self-center mt-4 mt-md-0"
          >
            <img
              src="img/crepe-dulce-alto.jpg"
              alt=""
              class="img-fluid shadow w-100"
            />
          </div>
        </div>
        <div class="row mt-5">
          <div
            class="col-lg-5 col-md-6 align-self-center order-2 order-md-1 mt-4 mt-md-0"
          >
            <img
              src="img/crepe-salado-alto.jpg"
              alt=""
              class="img-fluid shadow w-100"
            />
          </div>
          <div
            class="col-lg-5 offset-lg-2 col-md-6 align-self-center order-1 order-md-2 py-5"
          >
            <h2 class="special-number">02.</h2>
            <div class="dishes-text">
              <h3><span>Crepa</span><br /> Salada Saludable</h3>
              <p class="pt-3">
                Opciones sin gluten rellenas de aguacate, espinacas, queso
                fresco y pollo orgánico.
              </p>
              <h3 class="special-dishes-price">S/ 12.00</h3>
              <a href="/reservation" class="btn-primary mt-3"
                >Reservar una mesa <span
                  ><i class="fa fa-long-arrow-right"></i></span
                ></a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</Layout>
