---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Equipo">
  <section id="gtco-team" class="bg-white section-padding">
    <div class="container">
      <div class="section-content">
        <div class="heading-section text-center">
          <span class="subheading">Equipo</span>
          <h2>Nuestro Equipo</h2>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="team-card mb-5">
              <img class="img-fluid" src="img/mujer-ejecutiva.jpg" alt="" />
              <div class="team-desc">
                <h4 class="mb-0">Jasmin Galván</h4>
                <p class="mb-1">CEO</p>
                <ul class="list-inline mb-0 team-social-links">
                  <li class="list-inline-item">
                    <a href="#">
                      <i class="fab fa-facebook-f"></i>
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a href="#">
                      <i class="fab fa-twitter"></i>
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a href="#">
                      <i class="fab fa-instagram"></i>
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a href="#">
                      <i class="fab fa-google-plus-g"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="team-card mb-5">
              <img class="img-fluid" src="img/mujer-chef.jpg" alt="" />
              <div class="team-desc">
                <h4 class="mb-0">Fabiana Colaca</h4>
                <p class="mb-1">Chef</p>
                <ul class="list-inline mb-0 team-social-links">
                  <li class="list-inline-item">
                    <a href="#">
                      <i class="fab fa-facebook-f"></i>
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a href="#">
                      <i class="fab fa-twitter"></i>
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a href="#">
                      <i class="fab fa-instagram"></i>
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a href="#">
                      <i class="fab fa-google-plus-g"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="team-card mb-5">
              <img class="img-fluid" src="img/mujer-chef-2.jpg" alt="" />
              <div class="team-desc">
                <h4 class="mb-0">Linda Villafuerte</h4>
                <p class="mb-1">Chef</p>
                <ul class="list-inline mb-0 team-social-links">
                  <li class="list-inline-item">
                    <a href="#">
                      <i class="fab fa-facebook-f"></i>
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a href="#">
                      <i class="fab fa-twitter"></i>
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a href="#">
                      <i class="fab fa-instagram"></i>
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a href="#">
                      <i class="fab fa-google-plus-g"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</Layout>
